<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>提示信息 -斗鱼</title>
    <link href="https://staticlive.douyucdn.cn/common/douyu/style/common.css?20140806" rel="stylesheet" type="text/css" />
    <link href="https://staticlive.douyucdn.cn/common/douyu/style/error.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="error">
        <div class="pic"></div>
        <span><p>该房间目前没有开放</p></span>
        <a href="/" class="sub">返回首页</a>
    </div>

    <div class="foot_global">
        <ul class="about">
            <li><a href="/cms/about/about_us.html">关于我们</a><span>|</span></li>
            <li><a href="https://kefu.douyu.com" target="_blank">联系客服</a><span>|</span></li>
            <li><a href="https://zhaopin.douyu.com">招聘信息</a><span>|</span></li>
            <li><a href="/cms/about/cooperate.html">友情链接</a><span>|</span></li>
            <li><a href="/cms/zhibo/list_16.shtml" target="_blank">我要直播</a><span>|</span></li>
            <li><a href="/member/message/release" onclick="try{ check_message(); return false; } catch(e){}">意见反馈</a><span>|</span></li>
            <li><a href="/feedback/copyright"  target="_blank" onclick="try{ feedback_copyright(); return false; } catch(e){}">版权投诉</a></li>
        </ul>
        <p>武汉斗鱼网络科技有限公司 版权所有 ©www.douyu.com 公司地址：湖北省武汉市东湖开发区光谷软件园F4栋8楼</p>
    </div>
</body>
</html>